@import '../../../app/mixins';

@keyframes rotateAnimation {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 10deg;
    }

    100% {
        rotate: 0deg;
    }
}


.section_home {
    width: 100%;
    min-height: 100vh;
    @include flex (center, center, row);
    column-gap: 55px;
    position: relative;
    background-color: white;

    @media (min-width : 1441px) {
        column-gap: 150px;
    }

    @include mediaDesktop {
        overflow-x: hidden;
    }

    @include mediaLaptop {
        column-gap: 0;
    }

    @media (max-width:768px) {
        flex-direction: column;
        row-gap: 18px;
        padding-top: 84px 36px 20px;
    }

    @media (max-height : 480px) {
        padding-top: 0;
    }

    @include mediaMobile {
        height: fit-content;
        row-gap: 20px;
        padding: 64px 0 60px 0;
    }

    .img {
        margin-bottom: 60px;

        @include mediaLaptop {
            width: 372px;
        }


        @media (max-width:768px) {
            margin-bottom: 20px;
        }

        @include mediaMobile {
            width: 252px;
            height: 240px;
        }
    }

    &__right {
        // margin-left: 20px;
        width: fit-content;
        height: fit-content;
        @include flex (start, start, column);
        row-gap: 13px;

        @media(min-width : 1441px){
            row-gap: 15px;
        }

        @include mediaLaptop {
            row-gap: 14px;
        }

        @media (max-width:768px) {
            width: 100%;
            @include flex (center, center, column);
            padding: 0 20px;
        }

        h1 {
            height: fit-content;
            width: 590px;
            line-height: 58px;
            font-size: 53px;
            font-weight: 800;
            letter-spacing: text-space(58, 13);
            @include text-linear-primary;

            @media (min-width : 1441px) {
                font-size: 58px;
                width: 610px;
            }

            @include mediaDesktop {
                font-size: 52px;
                width: 560px;
                line-height: 55px;
            }

            @include mediaLaptop {
                font-size: 44px;
                width: 490px;
                line-height: 46px;
            }

            @media (max-width:768px) {
                max-width: none;
                text-align: center;
                letter-spacing: 6px;
                width: 520px;
            }

            @include mediaMobile {
                font-size: 32px;
                width: 100%;
                line-height: 38px;
                letter-spacing: 3.2px;
            }

            @media (max-width : 320px) {
                line-height: 41px;
                letter-spacing: 0.6px;
            }
        }

        p {
            width: 530px;
            height: fit-content;
            font-size: 14px;
            font-weight: 600;
            color: $gray-secondary;
            letter-spacing: 1px;

            span.name {
                @include text-linear-primary;
            }

            @include mediaLaptop {
                width: 480px;
            }

            @media (max-width:768px) {
                font-size: 14px;
                max-width: 550px;
                width: fit-content;
                padding-right: 0;
                line-height: 22px;
            }

            @include mediaMobile {
                width: 100%;
                font-weight: 500;
            }

            span.emoji {
                display: inline-block;
                animation: rotateAnimation 1s ease-in infinite;
            }


        }

        .container_button {
            @include flex (start, center, row);
            column-gap: 45px;
            margin-top: 20px;

            @include mediaDesktop {
                margin-top: 15px;
            }

            @include mediaLaptop {
                margin-top: 12px;
                column-gap: 25px;
            }

            @include mediaMobile {
                column-gap: 15px;
                margin-top: 8px;
                width: 100%;
                justify-content: center;
            }
        }

    }
}