@import '../../../app/mixins';

.socialMedia_container {
    @include flex (start, center, column);
    row-gap: 26px;
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);

    @include mediaDesktop {
        display: none;
    }

    @include mediaTabPortrait {
        display: none;
    }   

    &::after {
        content: "";
        width: 2px;
        height: 45px;
        margin-top: 10px;
        border: 1px dashed $blue-primary;
    }

    img {
        cursor: pointer;
        transition: 0.35s;
        
        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 1;
        }
    }

    
}