@import '../../../app/mixins';

.logo {
  @include flex (center, center, row);
  width: fit-content;
  height: fit-content;
  column-gap: 12px;
  cursor: pointer;

  &__text {
    font-size: 20px;
    font-weight: 800;
    @include text-linear-primary();
    text-align: left;
    letter-spacing: 1.76px;

    @include mediaTabPortrait{
      font-size: 16px;
    }
    @include mediaMobile {
      display: none;
    }
  }
}