@import '../../../app/mixins';

.section_project {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    @include flex(center, center, column);
    padding: 0 80px;
    row-gap: 60px;

    @include mediaDesktop {
        padding: 0 60px;
    }

    @include mediaTabPortrait {
        padding:80px 45px;
        justify-content: start;
    }

    @include mediaMobile {
        padding: 60px 20px;
    }

    .cards_wrapper {
        width: 100%;
        height: fit-content;
        @include flex(center, center, row);
        column-gap: 100px;

        @media (min-width : 1441px ){
            column-gap: 200px;
        };

        @include mediaDesktop {
            column-gap: 50px;

        }

        @include mediaTabPortrait {
            flex-direction: column;
            row-gap: 32px;
        }
    }
}