@import '../../../../app/mixins';

.card_wrapper {
    width: 520px;
    height: fit-content;
    @include flex(start, start, column);
    box-shadow: 8px 10px 13px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    @include mediaLaptop {
        width: 400px;
    }

    @include mediaTabPortrait {
        width: 520px;
    }

    @include mediaMobile {
        width: 100%;
    }

    .image {
        width: 100%;
        height: 270px;
        border-radius: 10px;
        object-fit: cover;
        object-position: 0 0;

        @include mediaLaptop {
            height: 220px;
        }

        @include mediaTabPortrait {
            height: 270px;
        }

        @include mediaMobile {
            height: 160px;
        }
    }

    .descriZone {
        padding: 0 15px;
        @include flex (start, start, column);
        row-gap: 8px;
        background: rgba(0, 0, 0, 0.02);
        padding: 12px;

        h3 {
            font-weight: 700;
            letter-spacing: 0.6px;
            color: $blue-primary;
            @include mediaMobile {
                font-size: 14px;
            }
        }

        .descriText {
            font-size: 14px;
            letter-spacing: 0.6px;
            font-weight: 400;
            color: $black-50;
            min-height: 42px;
            max-height: 63px;
            @include mediaMobile {
                font-size: 12px;
            }
        }
    }
}
