@import '../../../../app/mixins';

.statut_resp {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center, column);
    background-color: $black-25;
    backdrop-filter: blur(2px);
    z-index: 50;

    div {
        width: 320px;
        height: fit-content;
        border-radius: 5px;
        background-color: $white;
        @include flex(center, center, column);
        padding: 25px 0;
        row-gap: 5px;
        margin-bottom: 50px;

        h2 {
            font-size: 16px;
            font-weight: 400;
            color: $blue-primary;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: $black-50;
            line-height: 24px;
            letter-spacing: 0.4px;
        }

        button {
            padding: 3px 10px;
            background-color: $black-25;
            font-size: 16px;
            color: $white;
            letter-spacing: text-space(20, 2);
            background-color: $black-25;
            border: none;
            margin-top: 8px;

            &:hover {
                background-color: $black-50;
            }

            @media (hover: none) and (pointer : coarse) {
                &:active {
                    background-color: $black-50;
                    transition: ease 0.25s;
                }

                &:not(:active) {
                    background-color: $black-25;
                    transition: ease 0.25s;
                }
            }
        }
    }
}