@import '../../../app/mixins';

.wrapper_scroll {
    @include flex (center, center, column);
    position: absolute;
    bottom: 30px;
    row-gap: 10px;
    

    @media (max-width : 768px) {
        display: none;
    }
    p {
        font-size: 14px;
        font-weight: 800;
        color: $blue-primary;
        text-transform: uppercase;
        letter-spacing: text-space(16,10);
    }
}