@import '../../../../app/mixins';

.menu_bar {
    @include flex (center, center, row);
    column-gap: 25px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    display: none;

    @media (max-width : 768px) {
        display: block;
    }

    @include mediaMobile {
        padding: 0;
    }

    img {

        @include mediaDesktop {
            width: 42px;
        }

        @include mediaTabPortrait {
            width: 34px;
            height: 32px;
        }
    }

    p {
        display: none;
    }

}

.containerNavigation {
    @include flex (center, center, column);
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -102%;
    top: 0;
    z-index: -20;
    background-color: white;
    border-left: 1px dotted rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
    box-shadow: 0px 3px 3px 0 rgb(0 0 0 / 15%);
    margin-top: 70.5px;
    padding-bottom: 250px;

    @include mediaMobile {
        padding-bottom: 50%;
    }

    @media (max-height : 480px) {
        display: block;
        padding-bottom: 150px;
        min-height: 100vh;
        overflow-y: scroll;
    }

    .descriNav {
        font-size: 18px;
        @include flex (center, center, row);
        height: fit-content;
        @apply fixed;
        bottom: 20px;
        @include text-linear-primary;

        @media (max-height : 480px) {
            position: initial;
            padding-top: 40px;
            width: 100%;
        }

        @include mediaMobile {
            font-size: 16px;
        }
    }
}